* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #ac5555;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
    padding-top: 2em ;

}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    border: 1px solid #fff;
    cursor: pointer;
    color: #fff;
}

.scoreBoard {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 30rem;
    height: 10rem;
    margin: 0 auto;
    font-size: 3em;
    color: #fff;
}

.scoreBoard div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-winner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    height: 5rem;
}
#game-restart {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 1em 0;
}
button#restartbtn {
    padding: 1em 2.2em;
    font-size: 0.5em;
    font-weight: bold;
    color: #fff;
    background-color: #ac5555;
    border: 1px solid #fff;
}